@import "./../variables.scss";

.header {
    padding-top: 30px;
    padding-bottom: 32px;
    position: relative;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        border: none;
    }
    .logo:hover {
        .header-title {
            transition: 0.5s;
            color: $colorPrimaryL;
        }
        .header-subtitle {
            transition: 0.5s;
            color: $colorPrimaryL;
        }
    }

    &.pets .logo:hover {
        .header-title {
            transition: 0.5s;
            color: $colorDark3XL;
        }
        .header-subtitle {
            transition: 0.5s;
            color: $colorDark3XL;
        }
    }

    .header-title {
        color: $colorPrimary;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 32px;
        line-height: 35.2px;
        letter-spacing: 0.06em;
        transition: 0.5s;
    }
    .header-subtitle {
        transition: 0.5s;
        margin-top: 8px;
        margin-left: 4px;
        color: $colorLightXL;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 14.95px;
        letter-spacing: 0.1em;
        text-align: left;
    }

    .navigation {
        display: flex;
        align-items: center;
        .navigation-list {
            display: flex;
            column-gap: 36px;
        }
    }
    .nav-button {
        border: none;
        padding: 0;
        color: $colorDarkS;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 24px;
        transition: 0.5s;
        border-bottom: 3px solid transparent;
        &:hover,
        &.active {
            color: $colorLightS;
        }
    }
    &.home .home-active {
        color: $colorLightS;
        border-bottom: 2px solid $colorPrimary;
        cursor: auto;
    }

    &.pets .header-subtitle,
    &.pets .header-title {
        color: $colorDarkL;
    }

    &.pets .logo:hover {
        .header-title,
        .header-subtitle {
            color: $colorDark3XL;
        }
    }

    &.pets .nav-button {
        color: $colorDarkL;
        &.pets-active {
            color: $colorDark3XL;
            border-bottom: 3px solid $colorPrimary;
            cursor: auto;
            &:hover {
                color: $colorDark3XL;
            }
        }

        &:hover {
            color: $colorDark3XL;
        }
    }
}
