@font-face {
    font-family: Georgia;
    src: url("./accets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Georgia;
    src: url("./accets/fonts/georgia/georgia-italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Arial;
    src: url("./accets/fonts/arial/arial-regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Arial;
    src: url("./accets/fonts/arial/arial-italic.ttf");
    font-weight: 400;
    font-style: italic;
}
