@import "./../../variables.scss";
.section4 {
    padding-top: 79px;
    padding-bottom: 70px;

    .container {
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
        width: 360px;
        font-family: Georgia;
        font-size: 35px;
        font-weight: 400;
        line-height: 45.5px;
        letter-spacing: 0.06em;

        color: $colorDarkL;
    }
    .help-list {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        column-gap: 120px;
    }
    .help-item {
        height: 143px;
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: center;
        min-width: 60px;
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        padding-top: 89px;
    }

    .food {
        background-image: url("./../../../../public/howHelp/icon-pet-food.svg");
    }
    .transportation {
        background-image: url("/howHelp/transportation.svg");
    }
    .toys {
        background-image: url("./../../../../public/howHelp/toys.svg");
    }
    .bowls {
        background-image: url("./../../../../public/howHelp/bowls-and-cups.svg");
    }
    .shampoos {
        background-image: url("./../../../../public/howHelp/shampoos.svg");
    }
    .vitamins {
        background-image: url("./../../../../public/howHelp/vitamins.svg");
    }
    .medicines {
        background-image: url("./../../../../public/howHelp/medicines.svg");
    }
    .collars {
        background-image: url("./../../../../public/howHelp/collars-or-leashes.svg");
    }
    .areas {
        background-image: url("./../../../../public/howHelp/sleeping-area.svg");
    }
    // <li class="help-item transportation">Transportation</li>
    // <li class="help-item toys">Toys</li>
    // <li class="help-item bowls">Bowls and cups</li>
    // <li class="help-item shampoos">Shampoos</li>
    // <li class="help-item vitamins">Vitamins</li>
    // <li class="help-item medicines">Medicines</li>
    // <li class="help-item collars">Collars / leashes</li>
    // <li class="help-item areas">Sleeping areas</li>
}
