@import "./../../variables.scss";
.section1 {
    background:
        url("/backgrounds/background.png"),
        radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    padding-top: 169px;
    margin-top: -120px;
    @media screen and (max-width: 1150px) {
        padding-top: 50px;
    }
    .container {
        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }
        @media screen and (max-width: 700px) {
            padding: 0 10px;
        }
    }

    .content-container {
        margin-top: 174px;
        width: 42%;
        padding-bottom: 244px;
        @media screen and (max-width: 1100px) {
            width: 100%;
            margin-top: 100px;
            padding-left: 114px;
            padding-right: 114px;
            padding-bottom: 100px;
        }
        @media screen and (max-width: 700px) {
            padding-bottom: 50px;
        }
        @media screen and (max-width: 550px) {
            width: 100%;
            margin-top: 100px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .title {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 44px;
        font-weight: 400;
        line-height: 57.2px;
        color: $colorLightXL;
        padding-right: 120px;
        margin-bottom: 40px;
        @media screen and (max-width: 700px) {
            font-family: Georgia;
            font-size: 25px;
            //  font-weight: 400;
            line-height: 32.5px;
            letter-spacing: 0.06em;
            padding: 0 20px;
            text-align: center;
            //  text-align: center;
        }
    }
    .description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: $colorDarkS;
        max-width: 460px;
        @media screen and (max-width: 700px) {
            text-align: center;
        }
    }
    .background {
        background-image: url("/backgrounds/start-screen-puppy.png");

        width: 58%;
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        @media screen and (max-width: 1100px) {
            // background: black;
            // flex-direction: column;
            height: 592px;
            width: 100%;
            background-position-x: 129px;
        }
        @media screen and (max-width: 700px) {
            height: 326px;
            width: 87%;
            background-position-x: 19px;
            margin: 0 auto;
        }
    }
    .link {
        margin-top: 43px;
        display: block;
        color: $colorDark3XL;
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        line-height: 22.1px;
        letter-spacing: 0.06em;
        background-color: $colorPrimary;
        width: 207px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        transition: 0.5s;
        @media screen and (max-width: 1100px) {
            margin: 44px auto 0;
        }
        &:hover {
            background-color: $colorPrimaryL;
        }
    }
}
