@import "./../../variables.scss";

.section3 {
    background-color: $colorLightL;
    padding-bottom: 101px;
    @media screen and (max-width: 450px) {
        padding-bottom: 42px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1200px) {
            padding: 0 30px;
        }
        @media screen and (max-width: 450px) {
            padding: 0 15px;
        }
    }
    .title {
        color: $colorDarkL;
        font-family: Georgia;
        font-size: 35px;
        font-weight: 400;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        text-align: center;
    }
    .section-title {
        padding-top: 78px;
        width: 470px;
        @media screen and (max-width: 1100px) {
            padding-top: 81px;
        }
        @media screen and (max-width: 500px) {
            font-size: 25px;
            line-height: 32.5px;
            width: auto;
            padding-top: 42px;
        }
    }
    .slider {
        display: flex;
        align-items: center;
        margin-top: 60px;
        @media screen and (max-width: 450px) {
            flex-wrap: wrap;
            margin-top: 41px;
            justify-content: center;
            column-gap: 80px;
        }
        .button {
            width: 52px;
            height: 52px;
            border: 1px solid $colorPrimary;
            border-radius: 50%;
            background-image: url("/backgrounds/arrow.png");
            background-repeat: no-repeat;
            background-position: center;
            @media screen and (max-width: 450px) {
                order: 1;
                margin-top: 20px;
            }
            &.rightbutton {
                transform: rotate(0.5turn);
            }
            &:hover {
                background-color: $colorPrimaryL;
                border-color: $colorPrimaryL;
            }
        }
        .slider-container {
            display: flex;

            column-gap: 89px;
            justify-content: space-around;
            margin: 0 53px;
            @media screen and (max-width: 1200px) {
                column-gap: 40px;
                margin: 0 12px;
                .slider-card:nth-child(3) {
                    display: none;
                }
            }
            @media screen and (max-width: 760px) {
                .slider-card:nth-child(2) {
                    display: none;
                }
            }
            @media screen and (max-width: 450px) {
                width: 100%;
            }
        }
        .slider-card {
            width: 270px;
            height: 435px;
            background-color: $colorLightS;
            text-align: center;
            border-radius: 9px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 2px 35px 14px #0d0d0d0a;

                .cardbutton {
                    background-color: $colorPrimaryL;
                    border-color: $colorPrimaryL;
                }
            }

            .title {
                margin-top: 32px;
                font-size: 20px;
                line-height: 22.72px;
                @media screen and (max-width: 1200px) {
                    margin-top: 29px;
                }
            }
            .cardbutton {
                color: $colorDark3XL;
                font-family: Georgia;
                font-size: 17px;
                font-weight: 400;
                line-height: 22.1px;
                letter-spacing: 0.06em;
                width: 187px;
                height: 52px;
                border: 1px solid $colorPrimary;
                margin-top: 31px;
                border-radius: 40px;
                &:hover {
                    background-color: $colorPrimaryL;
                }
            }
        }
    }
    .section3button {
        margin-top: 61px;
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        line-height: 22.1px;
        letter-spacing: 0.06em;
        color: $colorDark3XL;
        background-color: $colorPrimary;
        padding: 14px 44px;
        border: 1px solid $colorPrimary;
        border-radius: 40px;
        &:hover {
            background-color: $colorPrimaryL;
            border-color: $colorPrimaryL;
        }

        @media screen and (max-width: 1200px) {
            margin-top: 59px;
        }
        @media screen and (max-width: 600px) {
            margin-top: 42px;
        }
    }
}

//1408 120 1464 1516 1504 161 8229231 8230334
